@model WebApplication.Models.StatisticalSettings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatisticalSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnagenAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnagenAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelogenAll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelogenAll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnagenTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnagenTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelogenTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelogenTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnagenVallus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnagenVallus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelogenVallus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelogenVallus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatisticalSettingsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
