@model WebApplication.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeNextVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeNextVisit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
