@model IEnumerable<WebApplication.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeNextVisit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeNextVisit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>
}

</table>
