@model IEnumerable<WebApplication.Models.HairSizeSettings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LengthOfTelogenHair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiameterOfVelusTerminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiameterOfTerminalsThinMedium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiameterOfTerminalsMediumThick)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadiusOfFollicularUnits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LengthOfTelogenHair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiameterOfVelusTerminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiameterOfTerminalsThinMedium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiameterOfTerminalsMediumThick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadiusOfFollicularUnits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HairSizeSettingsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HairSizeSettingsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HairSizeSettingsID })
        </td>
    </tr>
}

</table>
