@{
    ViewBag.Title = "Home Page";
}

<ul>
	<li>@Html.ActionLink("Контакт", "Index", "Contacts")</li>
	<li>@Html.ActionLink("Пользователь  ", "Index", "Users")</li>
	<li>@Html.ActionLink("пациент", "Index", "Patients")</li>
	<li>@Html.ActionLink("Комментарий к посещению", "Index", "CommentOnTheVisits")</li>
	<li>@Html.ActionLink("посещение", "Index", "Visits")</li>
	<li>@Html.ActionLink("Диагноз", "Index", "Diagnostics")</li>
	<li>@Html.ActionLink("исследование", "Index", "Researches")</li>
	<li>@Html.ActionLink("настройки ", "Index", "Settings")</li>
	<li>@Html.ActionLink("настройки размеров волос", "Index", "HairSizeSettings")</li>
	<li>@Html.ActionLink("настройки статистической нормы", "Index", "StatisticalSettings")</li>
	<li>@Html.ActionLink("фотография", "Index", "Images")</li>
	<li>@Html.ActionLink("волос", "Index", "Hair")</li>
	<li>@Html.ActionLink("Поле отчета", "Index", "ReportFields")</li>
	<li>@Html.ActionLink("Вариант поля", "Index", "FieldOptions")</li>
	<li>@Html.ActionLink("Картинка ", "Index", "Pictures")</li>
</ul>