@model WebApplication.Models.ReportField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportField</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldOption.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportFieldID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
