@model IEnumerable<WebApplication.Models.ReportField>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReportFieldID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReportFieldID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReportFieldID })
        </td>
    </tr>
}

</table>
